<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hmsadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/profilepic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/profilepic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowProducts_Activity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Manager_Login_Activity" />
        <activity android:name=".Splash_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Manager_ItemsActivity" />
        <activity android:name=".Manager_Orders_Activity" />
        <activity android:name=".Manager_CategoryActivity" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>